#about-container h2, #about-container p {
    margin: 0 0 40px;
}


#about-inner-container {
    /* display: grid;
    position: fixed;
    top: 10%;
    height: 90vh;
    grid-template-columns: 1fr 3fr; */
    position: fixed;
    top: 10%;
    height: 63vh;

}

#about-info-container {
    position: relative;
    bottom: 10%;
    height: 100%;
    overflow: scroll;
}

@media screen and (max-height: 800px) {
    #about-info-container {
        height: 92%;
    }
}

#about-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

#about-container p {
    font-size: 1rem;
}

#contents-container {
    position: relative;

}

#table-of-contents {
    /*
    width: 24%;
    height: 30%;
    top: 40%;
    display: flex;
    align-items: center;
    margin-left: 2%;*/
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 90%;
    padding: 0 0;
    margin: 0 0 15px;
    transform: translateX(-50%);
    background-color: grey;
    border-radius: 10px;
    border: 2px solid #666;
    z-index: 2;
}

#table-of-contents ul {
    color: white;
}

#table-of-contents ul li {
    margin: 5px 0 5px -15px;
}

#table-of-contents ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 450;
    color: white;
}

@media screen and (min-width: 680px) {

    #about-container p {
        font-size: 1.1rem;
    }

    #table-of-contents ul {
        width: 90%;
    }

    #table-of-contents ul li {
        margin: 10px 0 10px 3%;
    }

    #table-of-contents ul li a {
        font-size: 1.3rem;
        font-weight: 400;
    }

    #table-of-contents {
        width: 24%;
        height: 30%;
        top: 40%;
        transform: translateX(-205%);
        display: flex;
        position: fixed;
        align-items: center;
        margin-left: 2%;
    }

    #about-inner-container {
        margin-top: 0;
        display: grid;
        position: relative;
        top: 10%;
        height: 90vh;
        grid-template-columns: 1fr 3fr;
        width: 100vw;
    }



}
