/*
        to switch branches
            git checkout main
            git checkout doug

            git checkout -b newbranchname   <- this would create a new branch called "newbranchname" and switch to it

        if you want to merge one branch into another..
            1. switch to the branch you want to merge INTO
            2. run      git merge branchtomerge
                    e.g.
                            git add .
                            git commit -m "doug changing stuff"
                            git checkout main
                            git merge doug
*/

:root {
    --contents-container-width: 300px;
}

#about-container {
    left: 0;
    background-color: #d2d2d2;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;

}

#about-container h2, #about-container p {
    margin: 0 0 40px;
}


#about-inner-container {
    display: flex;
    flex-direction: column;
}

#about-info-container {
    position: relative;
    /* bottom: 10%; */
    height: 100%;
    padding-bottom: 150px;
    margin: 0 auto;
    /* overflow: scroll; */
}

#about-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

#about-container p {
    font-size: 1rem;
}

#contents-container {
    /* position: fixed;
    bottom: 20px; */
    /* left: 50%; */
    min-width: var(--contents-container-width);
    /* translate: -50% 0; */
    z-index: 1;
    /* position: relative; */
}

#table-of-contents {

    position: fixed;
    top: 85%;
    left: 2rem;
    width: 80%;


    transform: translate(-0%, -50%);
    background-color: grey;
    border-radius: 10px;
    border: 2px solid #666;

}

#table-of-contents ul {
    color: white;
}

#table-of-contents ul li {
    margin: 5px 0 5px -15px;
}

#table-of-contents ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 450;
    color: white;
}

@media screen and (min-width: 650px) {

    #about-container p {
        font-size: 1.1rem;
    }

    #table-of-contents ul {
        width: 90%;
    }

    #table-of-contents ul li {
        margin: 10px 0 10px 3%;
    }

    #table-of-contents ul li a {
        font-size: 1.3rem;
        font-weight: 400;
    }


    #table-of-contents {
        width: 200px;
        height: 30%;
        top: 55%;
        /* transform: translateX(-205%); */
        position: fixed;
        display: flex;
        align-items: center;
        margin-left: 2%;
    }

    #about-inner-container {
        display: grid;
        grid-template-columns: var(--contents-container-width) 1fr;
    }

    #about-container {
        padding-top: 75px;
    }

    #about-info-container {
        padding-bottom: 0;
    }

    /* #contents-container {
        /* position: r;wiu
        /* position: fixed;
        /* translate: 0% 0%;
    } */

}
