
nav {
    background-color: #718391;
    width: 100%;
    height: auto; /* Adjust height to auto to allow wrapping */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    flex-wrap: wrap; /* Enable wrapping */
    padding: 10px; /* Optional: Add padding for spacing */
}

#nav-container {
    position: relative;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.link-container {
    margin: 10px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container .link, .link-container .active-link {
    font-size: 1.1rem;
    font-weight: 450;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    transition: color 0.5s ease-out, opacity 0.5s ease-out, text-underline-offset 0.5s ease-out, transform 0.5s ease-out;

    color: inherit;
}

.link-container .active-link {
    color: #FFF;
}

.link-container .link {
    color: #DDD;
    opacity: 0.9;
    text-decoration: none;
}

.link-container .link:hover {
    color: #FFF;
    opacity: 0.95;
    text-underline-offset: 5px;
    transform: scale(1.1);
}

.link-container .active-link:hover {
    text-underline-offset: 4px;
    transform: scale(1.1);
}

#get-account-btns {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#get-account-btns button {
    padding: 10px 18px;
    font-size: 1rem;
}

@media screen and (min-width: 680px) {
    .link-container .link, .link-container .active-link {
        font-size: 1.3rem;
        font-weight: 400;
    }

    #get-account-btns button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
