#payments-container {
    position: fixed;
    left: 0;
    background-color: #272b2d;
    width: 100%;
    height: 100vh;
}

#payments-inner-container {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #d2d2d2;
    margin-top: 100px;
}

#payments-container h1 {
    font-size: 2rem;
}

#monthly-deal-container {
    background-color: #322c37;
    width: 400px;
    border: 1px solid #FFF;
    border-radius: 10px;
    margin: 50px auto;
    padding: 25px 0;
}

#monthly-deal-container h3 {
    font-size: 1.5rem;
}

#monthly-deal-container p {
    font-size: 1.1rem;
}

#subscribe-button-1 {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #473a55, #2d2435);
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#subscribe-button-1:hover {
    transform: scale(1.1);
    /* background-image: linear-gradient(135deg, #655174, #322c37); */
    cursor: pointer;
}

#subscribe-button-1:hover .gradient-2 {
    opacity: 1;
}

.gradient-2 {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #655174, #322c37);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

